n8n-workflows/04-vidhaata-scheduler.json
{
  "name": "📅 Vidhaata - Maintenance Scheduler",
  "nodes": [
    {
      "parameters": {
        "mode": "defineBelow",
        "fields": {
          "values": [
            { "name": "diagnosis", "type": "string" },
            { "name": "urgency", "type": "string" },
            { "name": "parts_needed", "type": "string" }
          ]
        }
      },
      "id": "trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vidhaata-schedule",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Direct Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 500],
      "webhookId": "vidhaata-test"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": { "values": [] },
        "options": {}
      },
      "id": "merge",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "// Simulate inventory and schedule lookup\nconst inventory = {\n  'SKF 6205-2RS': { in_stock: 3, location: 'Warehouse A', lead_time_days: 0 },\n  'Seal kit': { in_stock: 5, location: 'Warehouse A', lead_time_days: 0 },\n  'Motor coupling': { in_stock: 1, location: 'Warehouse B', lead_time_days: 2 }\n};\n\nconst technicians = [\n  { id: 'TECH-001', name: 'Ramesh Kumar', specialty: 'Hydraulics', available_slots: ['2024-01-15 06:00', '2024-01-16 06:00', '2024-01-18 06:00'] },\n  { id: 'TECH-002', name: 'Suresh Patel', specialty: 'Electrical', available_slots: ['2024-01-14 14:00', '2024-01-17 06:00'] }\n];\n\nconst productionSchedule = {\n  low_impact_windows: ['2024-01-15 06:00-12:00', '2024-01-18 06:00-12:00'],\n  high_production_days: ['2024-01-16', '2024-01-17']\n};\n\nreturn {\n  json: {\n    ...$input.first().json,\n    inventory,\n    technicians,\n    production_schedule: productionSchedule\n  }\n};"
      },
      "id": "lookup-resources",
      "name": "Lookup Resources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Schedule maintenance based on this diagnosis:\n\nDIAGNOSIS FROM ATHENA:\n{{ $json.diagnosis || JSON.stringify($json.body) }}\n\nURGENCY: {{ $json.urgency || 'WITHIN_WEEK' }}\n\nPARTS NEEDED: {{ $json.parts_needed }}\n\nAVAILABLE INVENTORY:\n{{ JSON.stringify($json.inventory, null, 2) }}\n\nTECHNICIAN AVAILABILITY:\n{{ JSON.stringify($json.technicians, null, 2) }}\n\nPRODUCTION SCHEDULE:\n{{ JSON.stringify($json.production_schedule, null, 2) }}",
        "options": {
          "systemMessage": "You are VIDHAATA (विधाता - \"The Ordainer\"), a maintenance scheduling agent.\n\nYour role is to create optimal maintenance schedules that balance:\n1. Urgency of the repair\n2. Parts availability\n3. Technician expertise and availability\n4. Production impact (prefer low-impact windows)\n5. Safety margins\n\n## SCHEDULING RULES:\n- IMMEDIATE: Schedule within 24 hours, accept production impact\n- WITHIN_WEEK: Find optimal low-impact window\n- SCHEDULED: Optimize for minimal disruption\n\n## OUTPUT FORMAT (JSON):\n```json\n{\n  \"scheduled_maintenance\": {\n    \"date\": \"YYYY-MM-DD\",\n    \"time\": \"HH:MM\",\n    \"duration_hours\": number,\n    \"window\": \"e.g., 06:00-12:00\"\n  },\n  \"assigned_technician\": {\n    \"id\": \"TECH-XXX\",\n    \"name\": \"Name\",\n    \"specialty\": \"Specialty\"\n  },\n  \"parts_status\": {\n    \"all_available\": true | false,\n    \"parts_to_reserve\": [\"list\"],\n    \"procurement_needed\": [\"list if any\"]\n  },\n  \"production_impact\": {\n    \"estimated_downtime\": \"X hours\",\n    \"impact_level\": \"LOW\" | \"MEDIUM\" | \"HIGH\",\n    \"mitigation\": \"Suggested mitigation if high impact\"\n  },\n  \"schedule_rationale\": \"Explanation of why this schedule was chosen\",\n  \"requires_human_approval\": true | false,\n  \"approval_reason\": \"Why approval is needed if true\"\n}\n```"
        }
      },
      "id": "agent",
      "name": "Vidhaata Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [840, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": { "temperature": 0.2 }
      },
      "id": "openai",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [840, 600]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\ntry {\n  const jsonMatch = output.match(/```json\\n([\\s\\S]*?)\\n```/) || output.match(/\\{[\\s\\S]*\\}/);\n  const parsed = jsonMatch ? JSON.parse(jsonMatch[1] || jsonMatch[0]) : { raw: output };\n  return { json: { ...parsed, agent: 'VIDHAATA', processed_at: new Date().toISOString() } };\n} catch (e) {\n  return { json: { agent: 'VIDHAATA', parse_error: true, raw_output: output } };\n}"
      },
      "id": "parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 400]
    },
    {
      "parameters": { "options": {} },
      "id": "respond",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1280, 500]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [[{ "node": "Merge Inputs", "type": "main", "index": 0 }]]
    },
    "Webhook - Direct Test": {
      "main": [[{ "node": "Merge Inputs", "type": "main", "index": 1 }]]
    },
    "Merge Inputs": {
      "main": [[{ "node": "Lookup Resources", "type": "main", "index": 0 }]]
    },
    "Lookup Resources": {
      "main": [[{ "node": "Vidhaata Agent", "type": "main", "index": 0 }]]
    },
    "Vidhaata Agent": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Vidhaata Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Ghost-Agents" }, { "name": "Layer-1" }]
}
