n8n-workflows/05-hermes-messenger.json
{
  "name": "📨 Hermes - Alert Messenger",
  "nodes": [
    {
      "parameters": {
        "mode": "defineBelow",
        "fields": {
          "values": [
            { "name": "message_type", "type": "string" },
            { "name": "severity", "type": "string" },
            { "name": "content", "type": "string" },
            { "name": "recipients", "type": "string" }
          ]
        }
      },
      "id": "trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hermes-send",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Direct Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 500],
      "webhookId": "hermes-test"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": { "values": [] },
        "options": {}
      },
      "id": "merge",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst severity = body.severity || 'INFO';\nconst messageType = body.message_type || 'alert';\nconst content = body.content || JSON.stringify(body);\n\n// Determine emoji and formatting based on severity\nconst severityConfig = {\n  INFO: { emoji: 'ℹ️', color: '#3b82f6' },\n  WARNING: { emoji: '⚠️', color: '#f59e0b' },\n  CRITICAL: { emoji: '🚨', color: '#ef4444' },\n  SUCCESS: { emoji: '✅', color: '#22c55e' }\n};\n\nconst config = severityConfig[severity] || severityConfig.INFO;\n\n// Format the message\nconst formattedMessage = `\n${config.emoji} *SHAKTI HEAVY INDUSTRIES - ${severity} ALERT*\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*Type:* ${messageType}\n*Equipment:* HYD_PRESS_07\n*Time:* ${new Date().toISOString()}\n\n*Details:*\n${typeof content === 'string' ? content : JSON.stringify(content, null, 2)}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n_Delivered by Hermes Agent_\n`;\n\nreturn {\n  json: {\n    formatted_message: formattedMessage,\n    severity,\n    message_type: messageType,\n    original_content: content,\n    delivery_channels: ['console', 'webhook_response'],\n    delivered_at: new Date().toISOString()\n  }\n};"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "critical-check",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-severity",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "jsCode": "// Log for critical alerts (in production, this would send to PagerDuty, SMS, etc.)\nconsole.log('🚨 CRITICAL ALERT - Would trigger immediate escalation');\nconsole.log($input.first().json.formatted_message);\n\nreturn {\n  json: {\n    ...$input.first().json,\n    escalation_triggered: true,\n    escalation_channels: ['sms', 'pagerduty', 'phone_call'],\n    agent: 'HERMES'\n  }\n};"
      },
      "id": "critical-escalation",
      "name": "Critical Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "jsCode": "// Standard logging for non-critical\nconsole.log($input.first().json.formatted_message);\n\nreturn {\n  json: {\n    ...$input.first().json,\n    escalation_triggered: false,\n    agent: 'HERMES'\n  }\n};"
      },
      "id": "standard-delivery",
      "name": "Standard Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": { "values": [] },
        "options": {}
      },
      "id": "merge-outputs",
      "name": "Merge Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1280, 400]
    },
    {
      "parameters": { "options": {} },
      "id": "respond",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 400]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [[{ "node": "Merge Inputs", "type": "main", "index": 0 }]]
    },
    "Webhook - Direct Test": {
      "main": [[{ "node": "Merge Inputs", "type": "main", "index": 1 }]]
    },
    "Merge Inputs": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Is Critical?", "type": "main", "index": 0 }]]
    },
    "Is Critical?": {
      "main": [
        [{ "node": "Critical Escalation", "type": "main", "index": 0 }],
        [{ "node": "Standard Delivery", "type": "main", "index": 0 }]
      ]
    },
    "Critical Escalation": {
      "main": [[{ "node": "Merge Outputs", "type": "main", "index": 0 }]]
    },
    "Standard Delivery": {
      "main": [[{ "node": "Merge Outputs", "type": "main", "index": 1 }]]
    },
    "Merge Outputs": {
      "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Ghost-Agents" }, { "name": "Layer-1" }]
}
