n8n-workflows/05-hermes-messenger.json
{
  "name": "Hermes - Notification Messenger (Test)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hermes-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Test Input Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "Format notification for:\n\nEquipment: {{ $json.body.equipment_id }}\nRoot Cause: {{ $json.body.root_cause }}\nScheduled Date: {{ $json.body.scheduled_date }}\nTechnician: {{ $json.body.technician }}\nParts Needed: {{ JSON.stringify($json.body.parts_needed) }}\nDowntime: {{ $json.body.estimated_downtime_hours }} hours",
        "options": {
          "systemMessage": "You are HERMES (Ἑρμῆς), the notification and communication agent for Shakti Heavy Industries.\n\nYour role is to format clear, actionable maintenance notifications for the team.\n\nNotification format:\n1. Emoji indicator based on urgency\n2. Clear equipment identification\n3. Concise issue summary\n4. Scheduled action details\n5. Action buttons for approval workflow\n\nUrgency indicators:\n- 🔴 CRITICAL: Immediate attention (1-3 days)\n- 🟡 WARNING: Attention needed (4-7 days)\n- 🟢 SCHEDULED: Planned maintenance (8+ days)\n\nOutput the formatted Slack message text. Include:\n- Header with urgency emoji and \"MAINTENANCE SCHEDULED\"\n- Equipment ID and location\n- Issue/Root cause summary\n- Scheduled date and time\n- Assigned technician\n- Required parts list\n- Estimated downtime\n- Approval prompt with ✅ Approve | ❌ Reject"
        }
      },
      "id": "hermes-formatter",
      "name": "Hermes Formatter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [500, 300]
    },
    {
      "parameters": {
        "channel": "#maintenance",
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "slack-send",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {status: 'sent', channel: '#maintenance', message_preview: $json.output.substring(0, 100)} }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Test Input Webhook": {
      "main": [
        [
          {
            "node": "Hermes Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes Formatter": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
