n8n-workflows/06-anomaly-detection-chain.json
{
  "name": "🔗 Anomaly Detection Chain (Drishti → Jibreel)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "detection-chain",
        "options": {}
      },
      "id": "webhook",
      "name": "Receive Sensor Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 400],
      "webhookId": "detection-chain"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Telemetry",
          "mode": "list"
        },
        "filters": {},
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "headerRow": 1,
              "firstDataRow": 2
            }
          }
        }
      },
      "id": "gsheet-read",
      "name": "Read from Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [180, 600],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": { "values": [] },
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [400, 500]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Drishti\nconst items = $input.all();\nconst latestReading = items[items.length - 1]?.json || items[0]?.json;\n\nreturn {\n  json: {\n    sensor_data: JSON.stringify(latestReading),\n    equipment_id: latestReading.equipment_id || 'HYD_PRESS_07',\n    analysis_type: 'standard'\n  }\n};"
      },
      "id": "prepare-drishti",
      "name": "Prepare for Drishti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 500]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "DRISHTI_WORKFLOW_ID",
          "mode": "id"
        }
      },
      "id": "call-drishti",
      "name": "Call Drishti (Monitor)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [840, 500]
    },
    {
      "parameters": {
        "jsCode": "const drishtiResult = $input.first().json;\n\nreturn {\n  json: {\n    drishti_report: JSON.stringify(drishtiResult),\n    historical_context: 'Day 12 of monitoring. Previous 7 days showed gradual increase in harmonics.'\n  }\n};"
      },
      "id": "prepare-jibreel",
      "name": "Prepare for Jibreel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 500]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "JIBREEL_WORKFLOW_ID",
          "mode": "id"
        }
      },
      "id": "call-jibreel",
      "name": "Call Jibreel (Detect)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1280, 500]
    },
    {
      "parameters": {
        "jsCode": "const drishtiResult = $('Call Drishti (Monitor)').first().json;\nconst jibrilResult = $input.first().json;\n\nreturn {\n  json: {\n    chain: 'DETECTION',\n    drishti_analysis: drishtiResult,\n    jibreel_classification: jibrilResult,\n    should_escalate: jibrilResult.escalate_to_athena || false,\n    classification: jibrilResult.classification || 'UNKNOWN',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": { "options": {} },
      "id": "respond",
      "name": "Return Chain Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1720, 500]
    }
  ],
  "connections": {
    "Receive Sensor Data": {
      "main": [[{ "node": "Merge Data Sources", "type": "main", "index": 0 }]]
    },
    "Read from Google Sheet": {
      "main": [[{ "node": "Merge Data Sources", "type": "main", "index": 1 }]]
    },
    "Merge Data Sources": {
      "main": [[{ "node": "Prepare for Drishti", "type": "main", "index": 0 }]]
    },
    "Prepare for Drishti": {
      "main": [[{ "node": "Call Drishti (Monitor)", "type": "main", "index": 0 }]]
    },
    "Call Drishti (Monitor)": {
      "main": [[{ "node": "Prepare for Jibreel", "type": "main", "index": 0 }]]
    },
    "Prepare for Jibreel": {
      "main": [[{ "node": "Call Jibreel (Detect)", "type": "main", "index": 0 }]]
    },
    "Call Jibreel (Detect)": {
      "main": [[{ "node": "Combine Results", "type": "main", "index": 0 }]]
    },
    "Combine Results": {
      "main": [[{ "node": "Return Chain Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Ghost-Agents" }, { "name": "Layer-2" }]
}
