n8n-workflows/08-escalation-chain.json
{
  "name": "🔗 Escalation Chain (Athena → Vidhaata → Hermes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalation-chain",
        "options": {}
      },
      "id": "webhook",
      "name": "Receive Anomaly",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 400],
      "webhookId": "escalation-chain"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nreturn {\n  json: {\n    anomaly_report: JSON.stringify(input),\n    equipment_id: input.equipment_id || 'HYD_PRESS_07'\n  }\n};"
      },
      "id": "prepare-athena",
      "name": "Prepare for Athena",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "ATHENA_WORKFLOW_ID",
          "mode": "id"
        }
      },
      "id": "call-athena",
      "name": "Call Athena (Analyze)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "const athenaResult = $input.first().json;\n\nreturn {\n  json: {\n    diagnosis: JSON.stringify(athenaResult),\n    urgency: athenaResult.recommendation?.urgency || 'WITHIN_WEEK',\n    parts_needed: JSON.stringify(athenaResult.recommendation?.parts_needed || [])\n  }\n};"
      },
      "id": "prepare-vidhaata",
      "name": "Prepare for Vidhaata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "VIDHAATA_WORKFLOW_ID",
          "mode": "id"
        }
      },
      "id": "call-vidhaata",
      "name": "Call Vidhaata (Schedule)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1060, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "approval-check",
            "leftValue": "={{ $json.requires_human_approval }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        }
      },
      "id": "needs-approval",
      "name": "Needs Human Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "jsCode": "const athenaResult = $('Call Athena (Analyze)').first().json;\nconst vidhaataResult = $('Call Vidhaata (Schedule)').first().json;\n\nreturn {\n  json: {\n    message_type: 'MAINTENANCE_APPROVAL_REQUIRED',\n    severity: 'WARNING',\n    content: {\n      diagnosis: athenaResult.root_cause,\n      proposed_schedule: vidhaataResult.scheduled_maintenance,\n      assigned_technician: vidhaataResult.assigned_technician,\n      approval_reason: vidhaataResult.approval_reason,\n      actions: ['APPROVE', 'REJECT', 'MODIFY']\n    }\n  }\n};"
      },
      "id": "prepare-approval-message",
      "name": "Prepare Approval Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "const athenaResult = $('Call Athena (Analyze)').first().json;\nconst vidhaataResult = $('Call Vidhaata (Schedule)').first().json;\n\nreturn {\n  json: {\n    message_type: 'MAINTENANCE_SCHEDULED',\n    severity: 'SUCCESS',\n    content: {\n      diagnosis: athenaResult.root_cause,\n      schedule: vidhaataResult.scheduled_maintenance,\n      technician: vidhaataResult.assigned_technician\n    }\n  }\n};"
      },
      "id": "prepare-notification",
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": { "values": [] },
        "options": {}
      },
      "id": "merge-messages",
      "name": "Merge Messages",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "HERMES_WORKFLOW_ID",
          "mode": "id"
        }
      },
      "id": "call-hermes",
      "name": "Call Hermes (Notify)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1940, 400]
    },
    {
      "parameters": {
        "jsCode": "const athena = $('Call Athena (Analyze)').first().json;\nconst vidhaata = $('Call Vidhaata (Schedule)').first().json;\nconst hermes = $input.first().json;\n\nreturn {\n  json: {\n    chain: 'ESCALATION',\n    status: 'COMPLETED',\n    diagnosis: athena,\n    schedule: vidhaata,\n    notification: hermes,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "final-result",
      "name": "Compile Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 400]
    },
    {
      "parameters": { "options": {} },
      "id": "respond",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2380, 400]
    }
  ],
  "connections": {
    "Receive Anomaly": {
      "main": [[{ "node": "Prepare for Athena", "type": "main", "index": 0 }]]
    },
    "Prepare for Athena": {
      "main": [[{ "node": "Call Athena (Analyze)", "type": "main", "index": 0 }]]
    },
    "Call Athena (Analyze)": {
      "main": [[{ "node": "Prepare for Vidhaata", "type": "main", "index": 0 }]]
    },
    "Prepare for Vidhaata": {
      "main": [[{ "node": "Call Vidhaata (Schedule)", "type": "main", "index": 0 }]]
    },
    "Call Vidhaata (Schedule)": {
      "main": [[{ "node": "Needs Human Approval?", "type": "main", "index": 0 }]]
    },
    "Needs Human Approval?": {
      "main": [
        [{ "node": "Prepare Approval Request", "type": "main", "index": 0 }],
        [{ "node": "Prepare Notification", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Approval Request": {
      "main": [[{ "node": "Merge Messages", "type": "main", "index": 0 }]]
    },
    "Prepare Notification": {
      "main": [[{ "node": "Merge Messages", "type": "main", "index": 1 }]]
    },
    "Merge Messages": {
      "main": [[{ "node": "Call Hermes (Notify)", "type": "main", "index": 0 }]]
    },
    "Call Hermes (Notify)": {
      "main": [[{ "node": "Compile Final Result", "type": "main", "index": 0 }]]
    },
    "Compile Final Result": {
      "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Ghost-Agents" }, { "name": "Layer-2" }]
}
