n8n-workflows/08-escalation-chain.json
{
  "name": "Escalation Chain (Jibreel → Athena → Vidhaata)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalation-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Pre-classified Anomaly Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [150, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "Anomaly: {{ $json.body.anomaly_details }}\nSensor context: {{ JSON.stringify($json.body.sensor_context) }}",
        "options": {
          "systemMessage": "You are JIBREEL (جبريل), the anomaly classification agent.\n\nClassify severity:\n- INFO: Minor deviation\n- WARNING: Notable deviation\n- CRITICAL: Potential failure\n\nOutput JSON:\n{\n  \"severity\": \"INFO\" | \"WARNING\" | \"CRITICAL\",\n  \"classification\": \"<type>\",\n  \"escalate\": true | false,\n  \"confidence\": 0.0-1.0\n}"
        }
      },
      "id": "jibreel-agent",
      "name": "Jibreel (Detector)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.escalate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "escalate-check",
      "name": "Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://fileserver:8080/maintenance_history.json",
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch Maintenance History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "Classification: {{ $node['Jibreel (Detector)'].json.classification }}\nEquipment: HYD_PRESS_07\nMaintenance History: {{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are ATHENA (Αθηνά), the root cause analysis agent.\n\nKnown failure signatures:\n- 2.3kHz harmonic + vibration = Bearing degradation\n- Temperature + current = Motor winding issues\n- Pressure drops + seal wear = Hydraulic seal failure\n\nOutput JSON:\n{\n  \"root_cause\": \"<cause>\",\n  \"confidence\": 0.0-1.0,\n  \"evidence\": [\"<evidence>\"],\n  \"recommendation\": \"<action>\",\n  \"urgency_days\": <number>\n}"
        }
      },
      "id": "athena-agent",
      "name": "Athena (Analyzer)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1150, 200]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "Schedule maintenance:\nRecommendation: {{ $json.recommendation }}\nUrgency: {{ $json.urgency_days }} days\nEquipment: HYD_PRESS_07",
        "options": {
          "systemMessage": "You are VIDHAATA (विधाता), the maintenance scheduler.\n\nAvailable technicians:\n- Rajesh Kumar: Hydraulics (15 yrs)\n- Priya Sharma: Electrical (8 yrs)\n- Amit Patel: Mechanical/bearings (12 yrs)\n- Sunita Reddy: General (5 yrs)\n\nOutput JSON:\n{\n  \"scheduled_date\": \"<ISO 8601>\",\n  \"technician\": \"<name>\",\n  \"parts_needed\": [\"<parts>\"],\n  \"estimated_downtime_hours\": <number>\n}"
        }
      },
      "id": "vidhaata-agent",
      "name": "Vidhaata (Scheduler)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {pipeline: 'escalation', stage: 'complete', jibreel: $node['Jibreel (Detector)'].json, athena: $node['Athena (Analyzer)'].json, vidhaata: $json} }}"
      },
      "id": "respond-scheduled",
      "name": "Respond (Scheduled)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {pipeline: 'escalation', stage: 'monitoring', jibreel: $json, message: 'No escalation required, continuing to monitor'} }}"
      },
      "id": "respond-monitor",
      "name": "Respond (Monitor Only)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Pre-classified Anomaly Input": {
      "main": [
        [
          {
            "node": "Jibreel (Detector)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jibreel (Detector)": {
      "main": [
        [
          {
            "node": "Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate?": {
      "main": [
        [
          {
            "node": "Fetch Maintenance History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (Monitor Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Maintenance History": {
      "main": [
        [
          {
            "node": "Athena (Analyzer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Athena (Analyzer)": {
      "main": [
        [
          {
            "node": "Vidhaata (Scheduler)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vidhaata (Scheduler)": {
      "main": [
        [
          {
            "node": "Respond (Scheduled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
